* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.outer-container {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

#coding-quiz {
  display: flex;
  float: left;
}

body {
  background-color: rgb(144, 197, 197);
  }
  
.inner-container {
    height: 85%vh;
    width: 85%vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
  
#intro-header {
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
  
#guide {
    text-align: center;
}

.inside-inner {
  border-color: white;
  border-style: dashed;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.initials {
  font-size: 20px;
    color: black;
  margin-bottom: 20px;
}
  
.scores {
  font-size: 15px;
    color: black;
  display: inline;
  margin-top: 10px;
  margin-bottom: 20px;
  top: 40%;
  left: 40%;
}
