* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-container {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

#high-score {
  display: flex;
  float: left;
}

#timer {
  display: flex;
  float: right;
}

body {
  font-family: monospace;
  background-color: #f9fbfd;
}

.inner-container {
  height: 85%vh;
  width: 85%vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-header {
  text-align: center;
  padding: 50px;
  color: rgb(96, 15, 15);
  font-size: 20px;
}

.inner-container p {
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro-footer {
  display: flex;
  justify-content: center;
}

main {
  display: block;
}

.quiz-section {
  display: none;
}

.btn {
  border: none;
  background-color:  rgb(96, 15, 15);
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.last-page {
  display: none;
}

.highscores-screen {
  display: block;
}

.highscore-screen ol {
  overflow: scroll;
  max-height: 200px;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
